/* Feather icon sizing */
.feather-8{
    width:8px;
    height:8px;
}
.feather-16{
    width:16px;
    height:16px;
}
.feather-18{
    width:18px;
    height:18px;
}
.feather-20{
    width:20px;
    height:auto;
}
.feather-30{
    width:30px;
    height:auto;
}
.feather-32{
    width:32px;
    height:32px;
}

.sub-category{
    margin-left: 1rem;
}

.sub-category-2{
    margin-left: 2rem;
}

.pagination{
    margin-bottom: 0px !important;
}

.f0f0f0{
    background-color: #f0f0f0 !important;
}

.eee{
    background-color: #fadfdf !important;
}

.f8d6b0{
    background-color: #f8d6b0 !important;
}

.fae9d6{
    background-color: #fae9d6 !important;
}

.f94c7eb{
    background-color: #94c7eb !important;
}

.f70b7e9{
    background-color: #70b7e9 !important;
}

.text-bold{
    font-weight: bold !important;
}

.navbar ul li a:hover, .navbar ul li form button:hover{
    background-color: #fff;
    color: #2d62c5 !important;
    font-weight: 500 !important;
}

.text-muted, .text-secondary{
    color: #3f3f3f !important;
}

.navbar ul li a:active{
    color: #3f3f3f !important;
    background-color: transparent !important;
}

.login h2{
    font-weight: 400 !important;
}

.login h2, .login h3{
    transition: all 0.3s ease !important;
}

.pagination li.active span, .pagination li a{
    font-size: 1.1rem;
}

.pagination li span, .pagination li a{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
}

.input, input, select, button.btn, .pagination li span, .pagination li a{
    height: 45px !important;
}

a.btn{
    font-size: 15px;
}

.input > input{
    height: 39px !important;
}

.input > #carbon_date{
    cursor: pointer !important;
}

.input > #carbon_date{
    outline: none !important;
}

@media screen and (max-width: 1199px) {
    .login h2{
        font-size: 2.8rem !important;
    }
}

@media screen and (max-width: 532px) {
    .login h2{
        font-size: 2.3rem !important;
    }
}

@media screen and (max-width: 475px) {
    .login h2{
        font-size: 2.2rem !important;
    }
}

@media screen and (max-width: 428px) {
    .login h2{
        font-size: 2rem !important;
    }
}

@media screen and (max-width: 394px) {
    .login h2{
        font-size: 1.9rem !important;
    }
}

@media screen and (max-width: 376px) {
    .login h2{
        font-size: 1.8rem !important;
    }
}

@media screen and (max-width: 367px) {
    .login h3{
        font-size: 1.7rem !important;
    }
}

@media screen and (max-width: 360px) {
    .login h2{
        font-size: 1.7rem !important;
    }
}

@media screen and (max-width: 342px) {
    .login h2{
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width: 280px) {
    .login h2{
        font-size: 1.3rem !important;
    }
}

.form-control:disabled, .form-control[readonly] {
    background-color: #fff;
}

body.offcanvas-active{
	overflow:hidden;
}

body.offcanvas-active .navbar-nav{
    margin-top: 20px !important;
    padding-left: 10px;
}

.offcanvas-header{ display:none; }

.screen-darken{
	height: 100%;
	width:0%;
	z-index: 30;
	position: fixed;
	top: 0;
	right: 0;
	opacity:0;
	visibility:hidden;
	background-color: rgba(34, 34, 34, 0.6);
	transition:opacity .2s linear, visibility 0.2s, width 2s ease-in;
}

.screen-darken.active{
	z-index:10; 
	transition:opacity .3s ease, width 0s;
    opacity:1;
    width:100%;
    visibility:visible;
}

@media screen and (max-width: 991px){
    .form-search{
        overflow: hidden;
    }
    
    .form-search.hidden{
        transition: height .2s ease-out;
        height: 0px;
    }
    
    .form-search.active{
        transition: height .2s ease-in;
        height: 60px;
    }
}

.btn.close{
    display: none;
}

.btn.close.show{
    display: block;
}

.btn.search.hidden, #parent.hidden,
#mb-parent.hidden{
    display: none;
}

.float-bottom{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.img-logo{
    height: 4rem;
    width: 4rem;
    border-radius: calc(4rem/2);
    border: 2px solid #555555;
    overflow: hidden;
    align-items: center;
    align-content: center;
    padding: 15px;
}

.img-logo img{
    height: 3.5rem;
    width: auto;
    position: relative;
    top: -0.5rem;
    left: -0.8rem;

}

.nav{
    height: 6.5vh;
}

.mobile-offcanvas{
    position: fixed;
    top: 0;
    margin-left: 0 !important;
}

@media (pointer:none), (pointer:coarse) {
    .nav{
        height: 8.5vh;
    }
}

@media all and (max-width: 991px) {

	.offcanvas-header{ display:block; }

	.mobile-offcanvas{
		visibility: hidden;
		transform:translateX(-100%);
	    border-radius:0; 
		display:block;
	    position: fixed;
	    top: 0; left:0;
	    height: 100%;
	    z-index: 1200;
	    width:80%;
	    overflow-y: scroll;
	    overflow-x: hidden;
	    transition: visibility .3s ease-in-out, transform .3s ease-in-out;
	}

	.mobile-offcanvas.show{
		visibility: visible;
    	transform: translateX(0);
	}
	.mobile-offcanvas .container, .mobile-offcanvas .container-fluid{
		display: block;
	}

    .navbar-brand{
        position: relative;
        top: 1rem;
    }

    .navbar-nav{
        position: relative;
        top: 2rem;
    }
}

@media screen and (max-width: 540px) and (max-height: 720px) {
    .nav{
        height: 8.5vh;
    }
}

@media screen and (max-width: 411px) and (max-height: 823px) {
    .nav{
        height: 7.5vh;
    }
}

@media screen and (max-width: 411px) and (max-height: 731px) {
    .nav{
        height: 8.5vh;
    }
}

@media screen and (max-width: 360px) and (max-height: 640px) {
    .nav{
        height: 9.5vh;
    }
}

@media screen and (max-width: 360px) and (max-height: 640px) {
    .nav{
        height: 9.5vh;
    }
}

.nav-lg-auto{
    right: 0;
}

#print{
    overflow: hidden;
}

#print table tr td img{
    height: 80px;
    position: relative;
    top: -30px;
}

#print table tr td{
    color: #000;
    font-weight: 500;
}

#print table tr td.i-data{
    font-size: 12px !important;
}

#print table tr td.r-data{
    font-size: 12px !important;
}

#print table tr td.info-rem{
    word-break: break-all;
}

#print table tr td svg{
    width: 230px !important;
}

@media print{
    #print{
        display: block !important;
    }

    #reading, .nav-mobile{
        display: none;
    }

    #footer, #footer div{
        padding-left: 0 !important;
    }

    #footer h6{
        font-size: 12px;
    }

    #footer p{
        font-size: 11px;
    }

    #footer h6.text-muted, 
    #footer p.text-muted, 
    #footer p.text-muted a{
        color: #000 !important;
        font-weight: 500;
    }
}
