/* Feather icon sizing */
.feather-8{
    width:8px;
    height:8px;
}
.feather-16{
    width:16px;
    height:16px;
}
.feather-32{
    width:32px;
    height:32px;
}

.sub-category{
    margin-left: 1rem;
}

.sub-category-2{
    margin-left: 2rem;
}

.pagination{
    margin-bottom: 0px !important;
}

.f0f0f0{
    background-color: #f0f0f0 !important;
}

.eee{
    background-color: #fadfdf !important;
}

.f8d6b0{
    background-color: #f8d6b0 !important;
}

.fae9d6{
    background-color: #fae9d6 !important;
}

.f94c7eb{
    background-color: #94c7eb !important;
}

.f70b7e9{
    background-color: #70b7e9 !important;
}

.text-bold{
    font-weight: bold !important;
}
